<!DOCTYPE html>
<html lang="zh-cn" ng-app="myapp">
  <head>
    <meta charset="utf8">
    <title>湖南科技大学ACM集训队队员刷题榜</title>
    <meta name="description" content="湖南科技大学ACM集训队队员刷题榜">
    <meta name="author" content="王克纯 &lt;hi@hi-hi.cn&gt;">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- link(rel='stylesheet', type='text/css', href='main.css')-->
    <style>
      body{
        margin-top:50px;
      }
    </style>
  </head>
  <body ng-controller="bodyCtrl" class="container">
    <div class="row">
      <h1>湖南科技大学ACM集训队队员刷题榜</h1>
    </div>
    <div ng-init="yearnow='all';predicate='id'" class="row">
      <div class="col-md-12 col-sm-12">
        <div role="group" class="btn-group">
          <button type="button" ng-click="yearnow='all'" class="btn btn-default">全部</button>
          <button type="button" ng-click="yearnow='14'" class="btn btn-default">14</button>
          <button type="button" ng-click="yearnow='13'" class="btn btn-default">13</button>
          <button type="button" ng-click="yearnow='12'" class="btn btn-default">12</button>
          <button type="button" ng-click="yearnow='11'" class="btn btn-default">11</button>
          <button type="button" ng-click="yearnow='10'" class="btn btn-default">10</button>
          <button type="button" ng-click="yearnow='09'" class="btn btn-default">09</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <table class="table table-bordered table-striped table-hover">
          <tr>
            <th ng-click="predicate='id'">学号</th>
            <th>姓名</th>
            <th ng-click="predicate='-real.hdu'">hdu</th>
            <th ng-click="predicate='-real.hn'">hn</th>
            <th ng-click="predicate='-real.bnu'">bnuoj</th>
            <th ng-click="predicate='-real.poj'">poj</th>
            <th ng-click="predicate='-real.acdream'">acdream</th>
            <th ng-click="predicate='-real.cf'">cf</th>
            <th ng-click="predicate='-real.bestcoder'">bestcoder</th>
            <th ng-click="predicate='-real.codechef'">codechef(排名)</th>
          </tr>
          <tr ng-repeat="user in data | year:yearnow |orderBy:predicate " ng-click="clickuser(user)">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.real.hdu}}</td>
            <td>{{user.real.hn}}</td>
            <td>{{user.real.bnu}}</td>
            <td>{{user.real.poj}}</td>
            <td>{{user.real.acdream}}</td>
            <td>{{user.real.cf}}</td>
            <td>{{user.real.bestcoder}}</td>
            <td>{{user.real.codechef}}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-4 col-sm-12">
        <table class="table table-bordered table-striped table-hover">
          <tr>
            <td>学号</td>
            <td>{{usernow.id}}</td>
          </tr>
          <tr>
            <td>姓名</td>
            <td>{{usernow.name}}</td>
          </tr>
          <tr ng-repeat="oj in usernow.ojlist">
            <td>{{oj[0]}}</td>
            <td><a ng-href="{{ojurl(oj[0],oj[1])}}" target="_blank">{{oj[1]}}</a></td>
            <td>{{oj[2]}}</td>
          </tr>
        </table>
      </div>
    </div><div class="ds-thread" data-thread-key="normal" data-title="王克纯的个人简历" data-url="http://r.hi-hi.cn/"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"hnustacmrank"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>

    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/angularjs/angular.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>