doctype html
html(lang='zh-cn',ng-app="myapp")
  head
    meta(charset='utf8')
    title 湖南科技大学ACM集训队队员刷题榜
    meta(name='description', content='湖南科技大学ACM集训队队员刷题榜')
    meta(name='author', content='王克纯 <hi@hi-hi.cn>')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', type='text/css', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    // link(rel='stylesheet', type='text/css', href='main.css')
    style.
      body{
        margin-top:50px;
      }
  body.container(ng-controller='bodyCtrl')
    .row
      h1 湖南科技大学ACM集训队队员刷题榜
    .row(ng-init="yearnow='all';predicate='id'")
      .col-md-12.col-sm-12
        .btn-group(role="group")
          button.btn.btn-default(type="button",ng-click="yearnow='all'") 全部
          button.btn.btn-default(type="button",ng-click="yearnow='14'") 14
          button.btn.btn-default(type="button",ng-click="yearnow='13'") 13
          button.btn.btn-default(type="button",ng-click="yearnow='12'") 12
          button.btn.btn-default(type="button",ng-click="yearnow='11'") 11
          button.btn.btn-default(type="button",ng-click="yearnow='10'") 10
          button.btn.btn-default(type="button",ng-click="yearnow='09'") 09
    .row
      .col-md-8.col-sm-12
        table.table.table-bordered.table-striped.table-hover
          tr
            th(ng-click="predicate='id'") 学号
            th 姓名
            th(ng-click="predicate='-real.hdu'") hdu
            th(ng-click="predicate='-real.hn'") hn
            th(ng-click="predicate='-real.bnu'") bnuoj
            th(ng-click="predicate='-real.poj'") poj
            th(ng-click="predicate='-real.acdream'") acdream
            th(ng-click="predicate='-real.cf'") cf
            th(ng-click="predicate='-real.bestcoder'") bestcoder
            th(ng-click="predicate='-real.codechef'") codechef(排名)
          tr(ng-repeat="user in data | year:yearnow |orderBy:predicate ",ng-click="clickuser(user)")
            td {{user.id}}
            td {{user.name}}
            td {{user.real.hdu}}
            td {{user.real.hn}}
            td {{user.real.bnu}}
            td {{user.real.poj}}
            td {{user.real.acdream}}
            td {{user.real.cf}}
            td {{user.real.bestcoder}}
            td {{user.real.codechef}}

      .col-md-4.col-sm-12
        table.table.table-bordered.table-striped.table-hover
          tr
            td 学号
            td {{usernow.id}}
          tr
            td 姓名
            td {{usernow.name}}
          tr(ng-repeat="oj in usernow.ojlist")
            td {{oj[0]}}
            td
              a(ng-href="{{ojurl(oj[0],oj[1])}}",target="_blank") {{oj[1]}}
            td {{oj[2]}}
        //- pre {{usernow|json}}
        

    script(src='bower_components/underscore/underscore-min.js')
    script(src='bower_components/angularjs/angular.min.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='main.js')
